@model IEnumerable<CDSHooks.Models.PrefetchViewModel>
@if(Model?.Any() ?? false)
{
    <table>
        <tbody>
            @foreach (var prefetch in Model)
            {
                <tr>
                    <td>
                        @prefetch.Key
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        @prefetch.Query
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
